/* Reset CSS  !Compulsory */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
Từ ngoài vào trong
Từ trên xuống dưới
Từ tổng quan tới chi tiết
 */

/* Phân tích
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng (tròn vuông,kiểu chữ...) 
*/
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


/* Commond */
.clear{
    clear: both;
}

.text-white{
    color: #fff;
}       

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.btn{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 16px;
    border: none;
    -webkit-appearance: none;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.pull-right{
    float: right;
}

/* Main */
#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;  
    padding: 0 24px;
    line-height: 47px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 39px;
}

#nav, .subnav{
    list-style-type: none;
}

#nav .nav-arrow-c-down{
    font-size: 13px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none   ;
}

#header .mobile-menu-btn,
#header .search-btn{
    padding: 0 23px ;
    float: right;
    cursor: pointer;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    line-height: 47px;
}

#header .search-btn:hover{
    background-color: #f44336;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#slider{
    position: relative;
    margin-top: 28px; 
    padding-top: 50%; /*padding:50% tức là bằng 50% chiều rộng của thẻ cha chứa nó */
    background: url('../img/slider/catband.jpg') no-repeat top center /cover;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
    margin: 25px 0;
    text-shadow: 0 0 2px #000;
}

#slider .text-description{
    font-size: 15px;
    text-shadow: 0 0 2px #000;
}

#content{
    min-height: 1000px;
}
/* about */

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 16px 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;  /*color: #ccc*/
    font-style: italic;
}

#content .about-text{
    font-size: 15px;
    margin:25px 0 15px 0 ;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 48px; 
}

#content .member-name{
    font-size: 15px;
    font-weight: 550;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* tour */
.tour-section{
    background-color: #000;
}

.tour-section .tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tour-section .tickets-list li{ 
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    list-style: none;
    border-bottom: 1px solid #ccc;
}
.tickets-list .sold-out {
    margin-left: 16px;
    color: #fff;
    background-color: #f44336;
   padding: 3px 4px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
    margin-right: 16px;
    display: block;
}

/* place */
.places-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-weight: 555;
    font-size: 15px;
}

.place-time{
    margin-top: 20px;
    color: #757575;
}

.place-desc{
    margin-top: 20px;
}

/* Contact */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 32px;
    display: inline-block;
}

.contact-info a{
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-control:active{
    outline: 1px solid #000;
}

.contact-form .form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
    border: none;
}

.map-section img{
    width: 100%;
    filter: grayscale(50%); /*Đổ màu xám trên ảnh*/
}
#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copy-right a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copy-right {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copy-right a{
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal--container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease-out 0.3s;
}

@keyframes modalFadein {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.modal--close{ 
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 15px;
    padding: 12px;
    cursor: pointer;
}

.modal--close:hover{
    opacity: 0.8;
}

.modal--header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal--heading-text{
    margin-left: 16px;
    letter-spacing: 5px;
}

.modal--body{
    padding: 16px;
    font-size: 15px;
}

.modal--label{
    display: block;
    margin-bottom: 12px;
}

.modal--input{
    margin-bottom: 24px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    font-size: 15px;
}

#modal--buy-tickets {
    width: 100%;
    border: none;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 16px;
    margin-bottom: 16px;
}

#modal--buy-tickets:hover{
    opacity: 0.8;
}

.modal--footer{
    text-align:right;
    padding: 16px;
}

.modal--footer a{
    color: #2196F3;
}